<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-title">
            <h1>Welcome to Car Dealz</h1>
        </div>
        <button><a href="/logout">Logout</a></button>
    </div>
    <div class="container">
        <div>
            <h1>Cars for Sale</h1>
            <table>
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Seller</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for car in cars %}
                <tr>
                    <td>
                        {{car.model}}
                    </td>
                    <td>
                        {{car.year}}
                    </td>
                    <td>
                        <a href="/view_user/{{car.seller_id}}">{{car.owner.first_name}} {{car.owner.last_name}}</a>
                    </td>
                    <td>
                        {% if car.sold == 1 %}
                        <p>SOLD</p>
                        {% elif car.seller_id == user.id %}
                        <a href="/edit_car/{{car.id}}">Edit</a> | <a href="/delete_car/{{car.id}}">Delete</a>
                        {% else %}
                        <a href="/view_car/{{car.id}}">View</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button><a href="/add_car">Add a Car</a></button>
        </div>
    </div>
</body>
</html>