<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-title">
            <h1>{{user.first_name}}'s Purchases</h1>
        </div>
        <button><a href="/dashboard">Dashboard</a></button>
        <button><a href="/logout">Logout</a></button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
        </thead>
        {% for car in user.cars %}
        <tr>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>